.project-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin-top: 4vh;
  padding: 2rem 2rem;
}
.project-div {
  width: 20rem;
  &>a>.project-img {
    object-fit: contain;
    max-width: 100%;
  }
  
}

